<header class="site-header">
  <div class="header-container">

    <a href="{{ "/" | relative_url }}" class="logo">
      <img src="{{ '/assets/images/logo.png' | relative_url }}" alt="Logo Forez Transition">
    </a>

    <nav class="site-nav">
      <ul>
        <li><a href="{{ "/about/" | relative_url }}">À propos</a></li>
        <li><a href="{{ "/offre/" | relative_url }}">Offre</a></li>
        <li><a href="{{ "/contact/" | relative_url }}">Contact</a></li>
        <li><a href="{{ "/mentions-legales/" | relative_url }}">Mentions légales</a></li>
      </ul>
    </nav>

  </div>
</header>